
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/ErrorDesign/ErrorDesign.css")" rel="stylesheet" type="text/css" />
    <title>Page not found</title>
</head>

<body>
    <div id="center">
        <div id="main">
            <div id="logo">
                <img id="logoID" src="@Url.Content("~/Content/Images/logo.png")" alt="Images" />
            </div>
            <div id="divider"></div>
            <div id="message">
                <h1>Error :(</h1>
                <h2>404 -- Page not found...</h2>
                <h3>We are sorry but the page your looking for doesnt exist.</h3>

            </div>
        </div>
    </div>
</body>
</html>




