<br /> <br />
<div class="center">
    <div id="main">
        <div id="logo">
            <img id="logoID" src="@Url.Content("~/Content/images/errorOwl.png")" alt="Images" />
        </div>
        <div id="divider"></div>
        <div id="message">
            <h1>Error :(</h1>
            <h2>Something went wrong!</h2>
        </div>
    </div>
</div>

