@model IEnumerable<PasteBookEntityFramework.COMMENT>

@foreach (var item in Model)
{
    <div class="panel panel-default" id="comment">
        <div class="panel-heading text-left">
            <b>
                @Html.DisplayFor(modelItem => item.USER.FIRST_NAME)
                @Html.DisplayFor(modelItem => item.USER.LAST_NAME)
            </b>
        </div>
        <div class="panel-body text-left">

            @Html.DisplayFor(modelItem => item.CONTENT)

        </div>
        <div class="panel-footer text-left">
            @Html.DisplayFor(modelItem => item.DATE_CREATED)
        </div>
    </div>
}
