body {
    padding-top: 50px;
    padding-bottom: 20px;
     font-size: 15px;
    font-weight: 300;
    color: #000;
    line-height: 28px;
    text-align: center;
    background-image: url("../Content/images/1.jpg");
     background-repeat: no-repeat;
    background-attachment: fixed;
}

/***** Set padding to keep content from hitting the edges *****/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.login{
    margin-top:10px;
    margin-right:10px;
    margin-bottom: 10px;
    margin-left:10px;
    color:#F5FFFA;
}

/***** Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*****/
.dl-horizontal dt {
    white-space: normal;
}

/***** Set width on the form input elements since they're 100% wide by default *****/
input,
select,
textarea {
    max-width: 100%;
     resize:none;
}

.noresize {
  resize: none; 
}


.register{
    margin-left:10px;
}
#accountProfile{
    margin-top: 50px;
}

#userPicture{
    width:200px;
    height:200px;
}

#editProfilePicture{
    margin-top:10px;
}

#aboutMe{
    word-wrap: break-word;
    height:100%;
}

.profile{
    padding-left:0px;
    padding-right:0px;
}

#comment{
    margin-top:20px;
    color:saddlebrown;
    margin-left:0px;
    padding-left: 0px;
    text-align: left;
    margin-bottom:10px;
}

#signUp{
    display:none;
}


.thumb-image{
    height:250px;
    width:250px;
}
.profilePicture{
    width:250px;
    height:250px;
}
#like{
    color:blue;
}

#settings{
    margin-top:75px;
}

#friendList{
    margin-top:75px;
    width:50%;
}

.friendPicture{
    width:150px;
    height:150px;
}

.friends{
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
}

.homeButton{
    margin-top:10px;
}

.btnHome{
    width:200px;
}


.row{
    margin-left:0px;
    padding-left:0px;
}

#commentDate{
    font-size:10px;
    margin-left: 1cm;
}

#commentContent{
    margin-left: 2cm;
}

#commentHeader{
    margin-left: 1cm;
}

.postPicture{
    width:50px;
    height:50px;
}

.btn btn-default btn-lg btn-link{
    font-size:36px;
}

.friend {
    background-color: #e6ffe6;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#error{
    color:#fe0000;
}
.asterisk{
    margin-left:210px;
}
.firstAsterisk{
    margin-left:240px;
}
.secondAsterisk{
    margin-left:250px;
}

.fourthAsterisk{
     margin-left:230px;
}

.fifthAsterisk{
     margin-left:240px;
}
.registerClass{
    margin-left:0px;
    padding-left:0px;
}

.setting{
    margin-right:360px;
}

.aboutMe{
    height:300px;
}